.shippingContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0;
  padding: 0;
}

.homeContainer {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 20px;
  margin-top: 20px;
}

.shippingBox {
  position: sticky;
  top: 90px;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  height: fit-content;
  min-width: 300px;
  max-width: 45vw;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(185, 185, 185);
  border-radius: 6px;
  margin-bottom: 20px;
}

.shippingTitle {
  text-align: center;
  padding: 10px;
  color: rgb(92, 92, 92);
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.buttonCreate {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}
