.navbarContainer {
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #9b1616;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.gmflogo {
  filter: grayscale(40%);
}
